.signup-container{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.signup-form{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;

}
.fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.2rem;
  padding: 0.5rem;
  
}

.fields input {
  width: 100%; 
  padding: 0.5rem; 
  border-radius: 5px;
}
.signup-button{
  background-color: blue;
  color:white;
  border-radius: 25px;
  padding: .5rem 2rem;
  font-size: 1rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 30vh;
}
.signup-button:hover {
  background-color: darkblue; /* Change color on hover */
}

